h1 {
   text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.gray-box {
    padding: 50px 100px 100px 100px;
    margin: auto;
    width: 50%;
    height: auto;
    background-color: #b5b5b5;
}

.input-group-lg {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary {
    margin-top:30px;
    padding-top:10px;
    padding-bottom:10px;
}

nav{
    background-color: #b5b5b5;
    padding-bottom: 30px;
}

.formItem{
    text-align:center;
    line-height:150%;
}

